<!-- Filename: index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Desencriptador</title>

    <!-- Flask espera los estilos css en el folder 'static' en el root dir -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

    <h1>Desencriptador de Mensajes con Palabras Clave</h1>

    <form action="/" method="post">
        <label for="message">Ingrese el mensaje:</label><br>
        <textarea name="message" rows="3"></textarea>
        <div>
          <input type="submit" value="Desencriptar">
        </div>
    </form>

    {% if message %}
    <h2>Mensaje original:</h2>
    <p>{{ message }}</p>
    {% endif %}

    {% if desencriptado %}
    <h2>Mensaje desencriptado:</h2>
    <p>{{ desencriptado }}</p>
    {% endif %}

</body>
</html>

